@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-stack: 'Jost', sans-serif;
$primary-color: #CEC3B9;


body {
background-color: $primary-color;

}

.part-one {
    height: 300px;
    background-image: url(../../public/images/home-.png);
    background-size: contain;
    background-repeat: no-repeat;
       
    }

.page-two {
    margin-top: 30px;
}  

.bottom {
    display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

h1  {
  
   font-family: $font-stack;
   font-size: clamp(0.5rem, 2.5vw, 1.7rem);
   margin: 20px;
}

a {
    margin-right: 6px;
    margin-left: 7px;
}

h2  {
  
    font-family: $font-stack;
    font-size: clamp(1rem, 2vw, 1.3rem);
    margin: 20px;
    margin-bottom: 5px;
 }

 h4 {
    font-family: $font-stack;
    color: #CEC3B9;
    font-size:medium;
 }

p  {
    font-family: $font-stack;
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
    margin: 5px;
 }

 .bi-github {
    color: #CEC3B9;
    size: 40;
 } 

 .bi-linkedin {
    color: #CEC3B9;
    size: 40;
 } 

 .bi-house-fill {
    color: #CEC3B9;
    size: 40;
 } 


